
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://docs.google.com/spreadsheets/d/1mtnkl7No_IfBsMb0H9FdSZsGMx8e-rNbYnmIrJ4cxfs/edit?usp=sharing" target="__blank">Schedules</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="mailto:adammackinnon3+m9evkrf5wujrrovwvp0p@boards.trello.com">Support or Feedback</a>
      </div>
      <ul class="navbar-nav ml-auto">
        <li><a class="nav-item nav-link" href="/">Logout</a></li>
      </ul>
    </div>
  </nav>