{{#alert}}
<div class="alert alert-success" style="text-align: center;" role="alert">
    {{alert}} 
</div> 
{{/alert}}
{{#warning}}
<div class="alert alert-danger" style="text-align: center;" role="alert">
    {{warning}} 
</div> 
{{/warning}}