{{> header}}
    {{> nav}}

    {{#isactive}}
    <div class="alert alert-danger" style="text-align: center;"role="alert" style="text-align: center;">you are currently INACTIVE
    {{/isactive}}
    {{^isactive}}
    <div class="alert alert-success" style="text-align: center;"role="alert" style="text-align: center;">you are currently ACTIVE
    </div>
    {{/isactive}}
    <div class="card-deck">
        <div class="card">
          {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
          <div class="card-body">
            <h5 class="card-title">Team Select</h5>
            <form class="pickSubmit" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Current Week: 1</label>
                    <select class="form-control" name="pick" id="exampleFormControlSelect1">
                      <option>Select...</option>
                      <option>Angels</option>
                      <option>Astros</option>
                      <option>Athletics</option>
                      <option>Blue Jays</option>
                      <option>Braves</option>
                      <option>Brewers</option>
                      <option>Cardinals</option>
                      <option>Cubs</option>
                      <option>Diamondbacks</option>
                      <option>Dodgers</option>
                      <option>Giants</option>
                      <option>Guardians</option>
                      <option>Mariners</option>
                      <option>Marlins</option>
                      <option>Mets</option>
                      <option>Nationals</option>
                      <option>Orioles</option>
                      <option>Padres</option>
                      <option>Phillies</option>
                      <option>Pirates</option>
                      <option>Rangers</option>
                      <option>Rays</option>
                      <option>Red Sox</option>
                      <option>Reds</option>
                      <option>Rockies</option>
                      <option>Royals</option>
                      <option>Tigers</option>
                      <option>Twins</option>
                      <option>White Sox</option>
                      <option>Yankees</option>
                    </select>
                  </div>
                  <button type="submit" id="pickSubmit" class="btn btn-warning">Submit</button>
            </form><br>
            {{#message}}
            <div class="alert alert-info col-6 offset-3" style="text-align: center;" role="alert">
                {{message}} 
            </div> 
            {{/message}}
          </div>
        </div>
        <div class="card">
            {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
            <div class="card-body">
              <h3 class="card-title">Active Players</h3>
          </div>
        </div>
        <div class="card">
          {{! <img class="card-img-top" src="..." alt="Card image cap"> }}
          <div class="card-body">
            <h5 class="card-title">Your Picks:</h5>
            <ul class="picklist">
                <li>Week 1: {{userpick}}</li>
            </ul>
          </div>
        </div>

{{> footer}}