{{> header}}
    {{> nav}}

    {{#message}}
    <div class="alert alert-warning" style="text-align: center;"role="alert" style="text-align: center;">
        {{message}}
    </div>
    {{/message}}

{{> footer}}