{{> header}}
    {{> nav}}

    <div class="splashContainer col-8 offset-2">
        <h3 style="text-align: center;">Welcome to the RAB Survivor Game!</h3><br>
        <p>
            Devised by MLB stat guru Jim Passon, the game is simple:  Pick your MLB team.  If they outscore their opponents, you survive another week.  If they don't?  You're out! Good luck...
        </p>
        <button type="button" id="loginButton" class="btn btn-warning">Login/Register</button><br>
        <p style="text-align: center;"><a style="color: white;"href="/rules"><i>Official Game Rules</i></a></p>
    </div>

{{> footer}}