{{> header}}

    <div class="splashContainer col-8 offset-2">
        <h3 style="text-align: center;">Welcome to the RAB Survivor Game!</h3><br>
        <p>
            Devised by MLB stat guru Jim Passon, the game is simple:  Pick your MLB team.  If they outscore their opponents, you survive another week.  If they don't?  You're out!
        </p><br>
        <h5 style="text-align: center">We are not currently taking signups at this time.</h5><br>
        <a href="/login"><button type="button" class="btn btn-warning btn-lg btn-block">Login</button></a><br>
        <p style="text-align: center;"><a style="color: white;"href="/rules"><i>Official Game Rules</i></a></p>
    </div>
{{> footer}}