{{> header}}
    {{> nav}}

    <form class="loginForm col-6 offset-3" method="POST">
        <div class="form-group">
            <h1 style="text-align: center;">LOGIN</h1>
            <label for="username">User Name</label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" id="loginForm" class="btn btn-warning">Submit</button> <br>
          <p>Forgot your password?  Reset it <a href="/passwordreset">here</a></p><br>
          <p>Need to Register?  Register <a href="/register">here</a></p>
        </form>
    
        {{#message}}
        <div class="alert alert-danger col-6 offset-3" role="alert">
            {{message}}
        </div> 
        {{/message}}

{{> footer}}