{{> header}}
    {{> nav}}

<div class="rulesContainer col-8 offset-2">
    <h1 style="text-align: center;">OFFICIAL GAME RULES</h1>
    <ol>
        <li>HOW TO PLAY:</li>
        <p><i>The goal is simple.  Each week you pick an MLB team (via the "profile" page".
            If that team outscores it's combined opponents for that week, you "survive" (advance) to the next week.
            The last player standing wins!
        </i></p>
        <li>HOW TO ENTER:</li>
        <p><i>Register using your email and twitter handle.  <b>Only one account per user.  Any duplicate accounts for single users will result in disqualification of all accounts for that user.</b></i></p>
        <li>PICKS SCHEDULE:</li>
        <p><i>Picks for the upcoming week must be submitted by the end of the last game on Sunday.  <b>You can only select a team once, so choose carefully.</b> Any active players that have not recorded a pick will be eliminated by default.</i></p>
        <li>RAINOUTS/PPD GAMES:</li>
        <p><i>Active status's are updated on sunday night/Monday morning by admins.  Whether or not your team advances is based on the scores <b>When those status's are being updated</b>, so rainouts/reschedules are not taken into account.</i></p>
        <li>FEES/PRIZES:</li>
        <p><i>As of this year (2022), there are none of either!  The game is free and the prize is bragging rights!</i></p>
    </ol>
</div>

{{> footer}}