{{> header}}
    {{> nav}}

 <div class="thankyoubox col-6 offset-3">
     <h3 style="text-align: center;">Thank you for Registering!</h3><br>
     <h5 style="text-align: center;">First week of competition begins 4/18, check back then!</h5>
 </div>

{{> footer}}