/* Header */
.header-container {
    height: 300px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.center-image {
    display: flex;
    height:300px;
    justify-content: center;
}

body {
    background-image: url("/assets/firstbase.jpg");
}

.splashContainer {
    margin-top: 100px;
    background-color: rgb(1, 73, 1);
    color: white;
    padding: 35px;
    border-radius: 15%;
}
#loginButton {
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.loginForm {
    margin-top: 100px;
    background-color: rgb(1, 73, 1);
    color: white;
    padding: 25px;
    border-radius: 10%;
}
.regForm {
    margin-top: 70px;
    background-color: rgb(1, 73, 1);
    color: white;
    padding: 25px;
    border-radius: 10%;
}

.rulesContainer {
    margin-top: 50px;
    background-color: rgb(1, 73, 1);
    color: white;
    padding: 35px;
    border-radius: 15%;
}

.thankyoubox {
    margin-top: 100px;
    background-color: rgb(1, 73, 1);
    color: white;
    padding: 25px;
    border-radius: 10%;
}

/* GAME PAGE STYLES */
.gamePageRow {
    background-color: lightgray;
}
.column {
    float: left;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

.pickform {
    display: flex;
    justify-content: center;
    background-color: rgb(1, 73, 1);
    color: white;
    height: 100%;
    border-radius: 15%;
    padding: 20px;
    margin-right: 5px;
}

iframe {
    height: 100%;
    width: 100%;
    
}