/* Header */
.header-container {
  height: 200px;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
.center-image {
  display: flex;
  height: 200px;
  justify-content: center;
}

body {
  background-image: url("/assets/firstbase.jpg");
  background-color: black;
  background-blend-mode: hard-light;
}

.splashContainer {
  margin-top: 300px;
  color: white;
}
#loginButton {
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.loginForm {
  margin-top: 300px;
  color: white;
}
.regForm {
  margin-top: 250px;
  color: white;
}

.rulesContainer {
  margin-top: 50px;
  background-color: rgb(1, 73, 1);
  color: white;
  padding: 35px;
  border-radius: 15%;
}

.thankyoubox {
  margin-top: 300px;
  color: white;
}

/* GAME PAGE STYLES */

.card {
  background-color: rgb(0, 43, 15);
  color: white;
  opacity: 0.8;
  text-align: center;
  border-radius: 5%;
  margin-top: 40px;
}
.picklist {
  text-align: left;
}
.activePlayers {
  font-size: 80px;
}
#lowerCard {
  margin-top: 20px;
  height: 400px;
}

.resetForm {
  margin-top: 300px;
  color: white;
}

.news {
  margin-top: 30px;
  margin-bottom: 10px;
}

.news {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.twitter-timeline {
  flex: 0 0 auto;
}