/* Header */
.header-container {
    height: 300px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.center-image {
    display: flex;
    height:300px;
    justify-content: center;
}

body {
    background-image: url("/assets/firstbase.jpg");
}

.splashContainer {
    margin-top: 100px;
    background-color: rgb(1, 73, 1);
    color: white;
    padding: 35px;
    border-radius: 15%;
}
#loginButton {
    margin: 0 auto;
    display: flex;
}

.loginForm {
    margin-top: 100px;
    background-color: rgb(1, 73, 1);
    color: white;
    padding: 25px;
    border-radius: 10%;
}
